<nav id="sidebar">
   <div class="sidebar_blog_1">
      <div class="sidebar-header">
         <div class="logo_section">
            <a><img class="logo_icon img-responsive" src="assets/images/logo/logo_icon.png" alt="#" /></a>
         </div>
      </div>
      <div class="sidebar_user_info">
         <div class="icon_setting"></div>
         <div class="user_profle_side">
            <!-- <div class="user_img"><img class="img-responsive" src="assets/images/layout_img/user_img.jpg" alt="#" /></div> -->
            <div class="user_img"><img class="img-responsive w-100" src="assets/images/profile/profile.png" alt="#" />
            </div>
            <div class="user_info">
               <h6>Admin</h6>
               <p><span class="online_animation"></span> Online</p>
            </div>
         </div>
      </div>
   </div>
   <div class="sidebar_blog_2">
      <h4>Controls</h4>
      <ul class="list-unstyled components">

         <li><a routerLink="/"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a></li>
         <li><a routerLink="/product"><i class="fa fa-diamond  purple_color"></i> <span>Product</span></a></li>
         <li><a routerLink="/category"><i class="fa fa-table orange_color"></i> <span>Category</span></a></li>
         <li><a routerLink="/order"><i class="fa fa-cart-plus green_color"></i> <span>Order</span></a></li>
         <li><a routerLink="/ticket"><i class="fa fa-comments-o red_color"></i> <span>Ticket</span></a></li>
         <li><a routerLink="/user"><i class="fa fa-users blue1_color"></i> <span>User</span></a></li>
         <li><a routerLink="/sales"><i class= "fa fa-dollar green_color" ></i> <span>Sales</span></a></li>
         <li><a routerLink="/settings"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
      </ul>
   </div>
</nav>