<div class="full_container">
    <div class="inner_container">
        <div id="content">
            <div class="midde_cont">
                <div class="container-fluid">
                    <div class="row column_title">
                        <div class="col-md-12">
                            <div class="page_title">
                                <h2>User Management</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="container mt-5 ">
                            </div>
                            <div class="row">
                                @for (user of Users; track user._id) {
                                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                        <a (click)="openUserPopup(user)">
                                            <div class="card h-100">
                                                <div class="card-image-container">
                                                    <img class="card-img-top" src="http://localhost:7050/{{ user.image }}" alt="user">
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ user.name }}</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                                <app-user-popup 
                                    *ngIf="isUserPopupVisible"
                                    [popupUser]="selectedUser"
                                    (close)="closeUserPopup()"
                                ></app-user-popup>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>