<div class="full_container">
    <div class="inner_container">

        <div id="content">
            <div class="midde_cont">
                <div class="container-fluid">
                    <div class="row column_title">
                        <div class="col-md-12">
                            <div class="page_title">
                                <h2>Ticket Management</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card">

                        <div class="card-body">
                            <div class="container">
                            </div>
                            <div class="row">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item" *ngFor="let ticket of Tickets; trackBy: trackById">
                                      <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + ticket._id" aria-expanded="false" [attr.aria-controls]="'collapse' + ticket._id">
                                          Message from: {{ ticket.name | uppercase}}  ( {{ ticket.email }} )
                                        </button>
                                      </h2>
                                      <div [id]="'collapse' + ticket._id" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="ticket-details">
                                            <p>Name: {{ ticket.name }}</p>
                                            <p>Email: {{ ticket.email }}</p>
                                            <p>{{ ticket.message }}</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>