.main {
  position: fixed;
  text-align: center;
}
button{
  background-color: transparent;
  color: black;
  border-radius: 75%;
  font-weight: bolder;
  padding: 1px 5px;
  font-size: 28px;
  border: none;
}
.img-fill {
  object-fit: cover;
  width: 500px;
  height: 100%;
}
