<div class="main d-flex justify-content-center align-items-center">
    <div class="col-lg-7">
        <div class="card border-0 shadow rounded-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="d-flex justify-content-stretch">
                            <img src="{{popupProduct.images[imageIndex]}}" alt="Product Image" class="d-block img-fill col-12">
                            @if (popupProduct.images.length > 1){

                            <div class="position-absolute bottom-0 start-0 end-0 d-flex justify-content-evenly">
                                <button class="btn-prev" type="button" (click)="swipImage('prev')">
                                    &lt;
                                </button>
                                <button class="btn-next" type="button" (click)="swipImage('next')">
                                    &gt;
                                </button>
                            </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-7 d-flex flex-column justify-content-center">
                        <h3 class="card-title">{{popupProduct.name}}</h3>
                        <div class="rating mb-3">
                            <span class="text-warning">{{calcRateStars().text}}</span>
                            @if (popupProduct.star > 0){

                            <span class="text-muted ml-2">({{calcRateStars().value}} of 5
                                Stars)</span>
                            }
                            @else {

                            <span class="text-muted ml-2">({{popupProduct.star}} of 5 Stars)</span>
                            }

                        </div>
                        <div class="price mb-3">
                            <span class="discount-price">{{(popupProduct.price *
                                (1-(popupProduct.discount/100)))}}</span>
                            @if(popupProduct.discount > 0){

                            <span class="ml-2"> - </span>
                            <span class="original-price ml-2 text-decoration-line-through">{{popupProduct.price}}</span>
                            <span class="badge badge-success ml-2">-{{popupProduct.discount}}%</span>
                            }
                        </div>
                        <div class="stock mb-3">
                            @if (popupProduct.quantity > 0){

                            <span class="text-muted">Available Stock: {{popupProduct.quantity}}</span>
                            }
                            @else{

                            <span class="text-muted">Out of Stock</span>
                            }
                        </div>
                        <div class="text-start">
                            <h4 class="m-0 p-0 pb-1">Description:</h4>
                            <p class="m-0 p-0">{{popupProduct.desc}}.</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <a (click)="closePopup()" role="button" aria-label="Close" class="btn btn-link m-3">
                                <i class="fa fa-times-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>